<h1>Welcome</h1>
<br>
<a href="/user/sign-up" > <button class="btn btn-secondary btn-lg btn-block">Sign Up</button> </a><br><br>
<a href="/user/sign-in" > <button class="btn btn-secondary btn-lg btn-block">Sign In</button> </a>
