<h1>Sign up</h1>
<form action="/user/create-user" method="post">
    <input type="text" name="name" id="" placeholder="Your Name" required> <br><br>
    <input type="email" name="email" id="" placeholder="Your Email" required> <br><br>
    <input type="password" name="password" id="" placeholder="Please enter password" required> <br><br>
    <input type="password" name="confirm_password" id="" placeholder="Confirm password" required> <br><br>
    <button type="submit" class="btn btn-outline-success">Submit </button>
</form>