<h1>Sign in</h1><br>
<form action="/user/create-session" method="post">
    <input type="email" name="email" id="" placeholder="Your Email" required> <br><br>
    <input type="password" name="password" id="" placeholder="Please enter password" required> <br><br>
    <button type="submit" class="btn btn-outline-success">Submit </button>
</form>